<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index</title>
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css">
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>

    <style>
        .list-group-item h5 {
            display: flex;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .list-group-item .media-body p {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .list-group-item .media-body {
            width: calc(100% - 280px); /* adjust the value as needed */
        }
    </style>

    <script type="text/javascript">
        $(document).ready(function() {
            $('#searchButton').click(function() {
                var searchTerm = $('#searchInput').val();
                searchAnime(searchTerm);
            });
        });

        function searchAnime(searchText) {
            $.ajax({
                url: '/search',
                type: 'GET',
                data: { term: searchText },
                success: function(data) {
                    // Handle the search results
                    displaySearchResults(data);
                },
                error: function(xhr, status, error) {
                    // Handle the error
                    console.error('Error:', error);
                }
            });
        }

        function displaySearchResults(results) {
            var animeList = $('.list-group');
            animeList.empty();

            if (results.length > 0) {
                results.forEach(function(anime) {
                    var listItem = $('<li class="list-group-item"></li>');
                    var mediaDiv = $('<div class="media"></div>');
                    var image = $('<img src="' + anime.pictureLink + '" class="mr-3" style="max-height: 429px; max-width: 241px">');
                    var mediaBody = $('<div class="media-body"></div>');
                    var title = $('<h5 class="mt-0">' + anime.title + '</h5>');
                    var description = $('<p>' + anime.description + '</p>');

                    mediaBody.append(title);
                    mediaBody.append(description);
                    mediaDiv.append(image);
                    mediaDiv.append(mediaBody);
                    listItem.append(mediaDiv);
                    animeList.append(listItem);
                });
            } else {
                animeList.append('<li class="list-group-item">No results found</li>');
            }
        }
    </script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="https://uploads-ssl.webflow.com/60f5762b5ab9ee51a0c12d8e/61571ca2d35678a3035f98e1_How-to-draw-an-Anime-Eyes11.png"
             width="50" height="50" class="d-inline-block align-top" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/user_profile">User profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/add_anime">Add anime</a>
            </li>
        </ul>
        <div class="navbar-text">
            <div sec:authorize="isAuthenticated()">
                Authenticated as <span sec:authentication="name"></span>
            </div>
            <div sec:authorize="!isAuthenticated()">
                No user
            </div>
        </div>
        <div class="form-inline my-2 my-lg-0 ml-auto" sec:authorize="isAuthenticated()">
            <input class="form-control mr-sm-2 flex-grow-1" type="search" id="searchInput" placeholder="Search anime...">
            <button class="btn btn-outline-primary my-2 my-sm-0" type="button" id="searchButton">Search</button>
        </div>
    </div>
</nav>

<div class="container text-center">
    <h1>Home page</h1>
    <div sec:authorize="isAuthenticated()">
        Authenticated as <span sec:authentication="name"></span>
    </div>
    <div sec:authorize="!isAuthenticated()">
        No user
    </div>
    <h2 class="anime-list-heading">Anime List</h2>
    <ul class="list-group">
        <li class="list-group-item" th:each="anime : ${animes}">
            <div class="media">
                <img th:src="${anime.pictureLink}" class="mr-3" style="max-height: 429px; max-width: 241px">
                <div class="media-body">
                    <h5 class="mt-0" th:text="${anime.title}"></h5>
                    <p th:text="${anime.description}"></p>
                </div>
            </div>
        </li>
    </ul>
</div>
</body>
</html>
