<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+JQLa6i5ZxfL5lJvoRxT2hcyA2P9U8/"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Add jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Add the Bootstrap JavaScript file -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>Index Page</title>
</head>
<body>
<div class="container">
    <h1>Welcome to the Website</h1>
    <p>Please log in or sign up to continue:</p>
    <div class="row">
        <div class="col-sm-6">
            <a href="/login" class="btn btn-primary btn-lg btn-block">Log In</a>
        </div>
        <div class="col-sm-6">
            <a href="/sign_up" class="btn btn-success btn-lg btn-block">Sign Up</a>
        </div>
    </div>
</div>
<!-- Include Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.3/dist/umd/popper.min.js"
        integrity="sha384-7pjZzkjwyW63kW1M7cpNY2PM31kjf+FdHP1hTHTJf7n25+0NvtybYIsa/nlq/37G"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+JQLa6i5ZxfL5lJvoRxT2hcyA2P9U8/"
        crossorigin="anonymous"></script>
</body>
</html>
